-- EXAMSAARTHI V2 DATABASE SCHEMA
-- This should be run in the Supabase SQL Editor

-- 1. Profiles (extending auth.users)
CREATE TABLE profiles (
  id UUID REFERENCES auth.users(id) PRIMARY KEY,
  email TEXT NOT NULL,
  full_name TEXT,
  accessibility_prefs JSONB DEFAULT '{"speech_rate": 1, "high_contrast": false}',
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- 2. Exams
CREATE TABLE exams (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  title TEXT NOT NULL,
  description TEXT,
  duration_minutes INTEGER NOT NULL DEFAULT 60,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- 3. Questions
CREATE TABLE questions (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  exam_id UUID REFERENCES exams(id) ON DELETE CASCADE,
  order_index INTEGER NOT NULL,
  content_text TEXT NOT NULL,
  options JSONB NOT NULL, -- Array of strings e.g. ["Mumbai", "Delhi"]
  correct_answer_index INTEGER NOT NULL, -- Never sent to client directly
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- 4. Exam Sessions
CREATE TABLE exam_sessions (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  exam_id UUID REFERENCES exams(id) ON DELETE CASCADE,
  candidate_id UUID REFERENCES profiles(id) ON DELETE CASCADE,
  status TEXT NOT NULL CHECK (status IN ('in_progress', 'submitted', 'abandoned')),
  started_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  completed_at TIMESTAMP WITH TIME ZONE,
  time_remaining_seconds INTEGER,
  score INTEGER
);

-- 5. Answers
CREATE TABLE answers (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  session_id UUID REFERENCES exam_sessions(id) ON DELETE CASCADE,
  question_id UUID REFERENCES questions(id) ON DELETE CASCADE,
  selected_option_index INTEGER,
  marked_for_review BOOLEAN DEFAULT false,
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  UNIQUE(session_id, question_id)
);

-- 6. Audit Logs
CREATE TABLE audit_logs (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  session_id UUID REFERENCES exam_sessions(id) ON DELETE CASCADE,
  candidate_id UUID REFERENCES profiles(id) ON DELETE CASCADE,
  action TEXT NOT NULL, -- e.g., 'started_exam', 'answered_question', 'marked_review', 'submitted_exam'
  metadata JSONB,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- ROW LEVEL SECURITY (RLS)
ALTER TABLE profiles ENABLE ROW LEVEL SECURITY;
ALTER TABLE exams ENABLE ROW LEVEL SECURITY;
ALTER TABLE questions ENABLE ROW LEVEL SECURITY;
ALTER TABLE exam_sessions ENABLE ROW LEVEL SECURITY;
ALTER TABLE answers ENABLE ROW LEVEL SECURITY;
ALTER TABLE audit_logs ENABLE ROW LEVEL SECURITY;

-- Profiles: Users can read/update their own profile
CREATE POLICY "Users can view own profile" ON profiles FOR SELECT USING (auth.uid() = id);
CREATE POLICY "Users can update own profile" ON profiles FOR UPDATE USING (auth.uid() = id);

-- Exams: Anyone authenticated can read available exams
CREATE POLICY "Anyone can read exams" ON exams FOR SELECT USING (auth.role() = 'authenticated');

-- Questions: Authenticated users can read questions, but NOT the correct answer index
-- (In Supabase, we either omit the column in the query or use a view. For this MVP, we'll fetch via a secure server action that strips the correct_answer_index)
CREATE POLICY "Anyone can read questions" ON questions FOR SELECT USING (auth.role() = 'authenticated');

-- Exam Sessions: Candidates can only see/update their own sessions
CREATE POLICY "Candidates view own sessions" ON exam_sessions FOR SELECT USING (auth.uid() = candidate_id);
CREATE POLICY "Candidates insert own sessions" ON exam_sessions FOR INSERT WITH CHECK (auth.uid() = candidate_id);
CREATE POLICY "Candidates update own sessions" ON exam_sessions FOR UPDATE USING (auth.uid() = candidate_id);

-- Answers: Candidates can only see/update their own answers
CREATE POLICY "Candidates view own answers" ON answers FOR SELECT USING (
  session_id IN (SELECT id FROM exam_sessions WHERE candidate_id = auth.uid())
);
CREATE POLICY "Candidates insert/update own answers" ON answers FOR ALL USING (
  session_id IN (SELECT id FROM exam_sessions WHERE candidate_id = auth.uid())
);

-- Audit Logs: Candidates can only insert their own logs
CREATE POLICY "Candidates insert own audit logs" ON audit_logs FOR INSERT WITH CHECK (auth.uid() = candidate_id);
-- Add multilingual support to questions using JSONB

-- content_translations: {"en": "What is...", "hi": "à¤•à¥à¤¯à¤¾ à¤¹à¥ˆ...", "te": "à°à°®à°¿à°Ÿà°¿..."}
ALTER TABLE questions
ADD COLUMN content_translations JSONB DEFAULT '{}'::jsonb NOT NULL;

-- options_translations: {"en": ["Option A", "Option B"], "hi": ["à¤µà¤¿à¤•à¤²à¥à¤ª à¤", "à¤µà¤¿à¤•à¤²à¥à¤ª à¤¬à¥€"]}
ALTER TABLE questions
ADD COLUMN options_translations JSONB DEFAULT '{}'::jsonb NOT NULL;
-- Demo Exam Data for Phase 4 (Multilingual)
-- This inserts the hardcoded demo exam and 10 multilingual questions.

INSERT INTO exams (id, title, description, duration_minutes)
VALUES (
    'e2f9d6c3-1b8a-4c5e-8d2a-1b4e9f3c7a8b',
    'General Knowledge & Reasoning Demo',
    'A demo exam to test multilingual and accessibility features.',
    15
) ON CONFLICT (id) DO NOTHING;

-- Insert 10 demo questions
DELETE FROM questions WHERE exam_id = 'e2f9d6c3-1b8a-4c5e-8d2a-1b4e9f3c7a8b';

-- migration 00003_secure_answers.sql
-- Create a secure table for correct answers so that `questions` can be 
-- safely read by the client without leaking correct answers.

CREATE TABLE question_answers (
  question_id UUID PRIMARY KEY REFERENCES questions(id) ON DELETE CASCADE,
  correct_answer_index INTEGER NOT NULL
);

-- Migrate existing data
INSERT INTO question_answers (question_id, correct_answer_index)
SELECT id, correct_answer_index FROM questions;

-- Drop the column from questions so it is no longer exposed to authenticated users
ALTER TABLE questions DROP COLUMN correct_answer_index;

-- Secure the new table
ALTER TABLE question_answers ENABLE ROW LEVEL SECURITY;

-- No policies for authenticated users! Only service_role (admin client) 
-- can read/write to this table, which is perfectly aligned with server-side grading.
-- migration 00004_exam_analytics.sql
-- Add analytics and subjects for exam history and performance analysis

ALTER TABLE questions ADD COLUMN subject TEXT DEFAULT 'General';

ALTER TABLE exam_sessions ADD COLUMN total_questions INTEGER DEFAULT 0;
ALTER TABLE exam_sessions ADD COLUMN attempted_questions INTEGER DEFAULT 0;
ALTER TABLE exam_sessions ADD COLUMN correct_questions INTEGER DEFAULT 0;
ALTER TABLE exam_sessions ADD COLUMN incorrect_questions INTEGER DEFAULT 0;
ALTER TABLE exam_sessions ADD COLUMN unanswered_questions INTEGER DEFAULT 0;
ALTER TABLE exam_sessions ADD COLUMN percentage NUMERIC(5, 2) DEFAULT 0.00;

-- Update the existing demo questions with subjects for analysis
UPDATE questions SET subject = 'Geography' WHERE content_text LIKE '%capital%';
UPDATE questions SET subject = 'Science' WHERE content_text LIKE '%planet%' OR content_text LIKE '%mammal%' OR content_text LIKE '%color%' OR content_text LIKE '%chemical%';
UPDATE questions SET subject = 'Reasoning' WHERE content_text LIKE '%taller%';
UPDATE questions SET subject = 'Mathematics' WHERE content_text LIKE '%square root%';
UPDATE questions SET subject = 'History' WHERE content_text LIKE '%national anthem%';
UPDATE questions SET subject = 'Computer Science' WHERE content_text LIKE '%LIFO%';
UPDATE questions SET subject = 'Geography' WHERE content_text LIKE '%continents%';
ALTER TABLE questions ADD COLUMN image_url TEXT;
ALTER TABLE questions ADD COLUMN image_alt_text TEXT;
